{% extends 'layout.html' %}
{% load static %}

{% block content %}

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main pt-0">
    <!-- Content -->
    <div class="container-fluid px-3">
      <div class="row">
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
          <!-- Logo & Language -->
          <div class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
            <div class="d-none d-lg-flex justify-content-between">
              <a href="./index.html">
                <img class="w-100" src="{% static 'svg/logos/logo.svg' %}" alt="Image Description" data-hs-theme-appearance="default" style="min-width: 7rem; max-width: 7rem;">
                <img class="w-100" src="{% static 'svg/logos-light/logo.svg' %}" alt="Image Description" data-hs-theme-appearance="dark" style="min-width: 7rem; max-width: 7rem;">
              </a>
            </div>
          </div>
          <!-- End Logo & Language -->

          <div style="max-width: 23rem;">
            <div class="text-center mb-5">
              <img class="img-fluid" src="{% static 'svg/illustrations/oc-chatting.svg' %}" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="default">
              <img class="img-fluid" src="{% static 'svg/illustrations-light/oc-chatting.svg' %}" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="dark">
            </div>

            <div class="mb-5">
              <h2 class="display-5">Build digital products with:</h2>
            </div>

            <!-- List Checked -->
            <ul class="list-checked list-checked-lg list-checked-primary list-py-2">
              <li class="list-checked-item">
                <span class="d-block fw-semi-bold mb-1">All-in-one tool</span>
                Build, run, and scale your apps - end to end
              </li>

              <li class="list-checked-item">
                <span class="d-block fw-semi-bold mb-1">Easily add &amp; manage your services</span>
                It brings together your tasks, projects, timelines, files and more
              </li>
            </ul>
            <!-- End List Checked -->

            <div class="row justify-content-between mt-5 gx-3">
              <div class="col">
                <img class="img-fluid" src="{% static 'svg/brands/gitlab-gray.svg' %}" alt="Logo">
              </div>
              <!-- End Col -->

              <div class="col">
                <img class="img-fluid" src="{% static 'svg/brands/fitbit-gray.svg' %}" alt="Logo">
              </div>
              <!-- End Col -->

              <div class="col">
                <img class="img-fluid" src="{% static 'svg/brands/flow-xo-gray.svg' %}" alt="Logo">
              </div>
              <!-- End Col -->

              <div class="col">
                <img class="img-fluid" src="{% static 'svg/brands/layar-gray.svg' %}" alt="Logo">
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="w-100 content-space-t-4 content-space-t-lg-2 content-space-b-1" style="max-width: 25rem;">
            <!-- Form -->
            {% if registered %}
             <h1>Gracias por registrarte!</h1>
            {% endif %}

            <div class="text-center">
              <div class="mb-5">
                <h1 class="display-5">Crea tu cuenta</h1>
                <p>Ya tienes una cuenta? <a class="link" href="{% static 'authentication-login-cover.html' %}">Inicia Aquí</a></p>
              </div>
            </div>
            <form method="POST"  class="js-validate needs-validation" novalidate>

              {% csrf_token %}
              <label class="form-label" for="fullNameSrEmail">Nombre Completo</label>

              <!-- Form -->

              <div class="row">
                
                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    {{ form.first_name }}
                      <small>{% if errors %}{{errors.first_name}}{% endif %}</small>
                  </div>
                  
                  <!-- End Form -->
                </div>

                <div class="col-sm-6">
                  <!-- Form -->
                  <div class="mb-4">
                    {{ form.last_name }}
                    <small>{% if errors %}{{errors.last_name}}{% endif %}</small>
                  </div>
                  <!-- End Form -->
                </div>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                {{ form.email }}
                <small>{% if errors %}{{errors.email}}{% endif %}</small>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="signupSrPassword">Password</label>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                  {{ form.password1 }}
                  
                </div>

                <small>{% if errors %}{{errors.password1}}{% endif %}</small>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="signupSrConfirmPassword">Confirma tu contraseña</label>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                  {{ form.password2 }}
                </div>
                <small>{% if errors %}{{errors.password2}}{% endif %}</small>
                
              </div>
              <!-- End Form -->

              <!-- Form Check -->
              <div class="form-check mb-4">
                {{ form.cc_myself }}
                <label class="form-check-label" for="termsCheckbox">
                  Yo acepto <a href="#">los Terminos y Condiciones.</a>
                </label>
                <small>{% if errors %}{{errors.cc_myself}}{% endif %}</small>
              </div>
              <!-- End Form Check -->

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Create an account</button>

              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
