{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main">
    <div class="position-fixed top-0 end-0 start-0 bg-img-start" style="height: 32rem; background-image: url(./assets/svg/components/card-6.svg);">
      <!-- Shape -->
      <div class="shape shape-bottom zi-1">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
        </svg>
      </div>
      <!-- End Shape -->
    </div>

    <!-- Content -->
    <div class="container py-5 py-sm-7">

      <div class="mx-auto" style="max-width: 30rem;">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body">
            
              <div class="text-center">
                <div class="mb-5">
                  <h1 class="display-5">Iniciar sesión</h1>
                  <p>¿No tienes una cuenta? <a class="link" href="{% url 'core:signup' %}">Registrate aquí</a></p>
                </div>
              </div>


              <!-- Form -->
              <form method="POST" class="js-validate needs-validation" novalidate>
                {% csrf_token %}
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="signinSrEmail">Correo</label>
                {{ form.email }}
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label w-100" for="signupSrPassword" tabindex="0">
                  <span class="d-flex justify-content-between align-items-center">
                    <span>Contraseña</span>
                    <a class="form-label-link mb-0" href="{% url 'core:index' %}">Olvide mi contraseña</a>
                  </span>
                </label>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                  {{ form.password }}
                </div>
                <small>{% if errors %}{{errors}}{% endif %}</small>
              </div>
              <!-- End Form -->

              <!-- End Form Check -->

              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
              </div>
              
            </form>
            <!-- End Form -->
            
          </div>
          
        </div>
        <!-- End Card -->
        
        
      </div>
      
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
