{% extends "layout.html" %}
{% block content %}
<!-- Content -->
<div class="container py-5 py-sm-7">


    <div class="mx-auto" style="max-width: 30rem;">
      <!-- Card -->
      <div class="card card-lg mb-5">
        <div class="card-body text-center">
          

          <h1 class="display-5">Verifica tu correo</h1>

          <p class="mb-1">Te hemos enviado un link a tu email</p>

          <!-- En una versión mas adelante puedo agregar los siguente línea: -->
          <!-- <span class="d-block text-dark fw-semi-bold mb-1">mark@gmail.com</span> -->
          <!-- <p>Da click al link para continuar.</p> -->

          <div class="mt-4 mb-3">
            <a class="btn btn-primary" href="{% url 'core:login' %}">Iniciar sensión</a>
          </div>

          <p>¿No recibiste ningún correo? <a href="{% url 'core:password_reset' %}">Reenviar</a></p>
        </div>
      </div>
      <!-- End Card -->

    
      
    </div>
  </div>
  <!-- End Content -->
{% endblock content %}