{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Content -->
<div class="container py-5 py-sm-7">


    <div class="mx-auto" style="max-width: 30rem;">
      <!-- Card -->
        <div class="card card-lg mb-5">
            <div class="card-body text-center">
            
            
                <h1 class="display-5">Cambia tu contraseña</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="mt-4 mb-3">
                        <button class="btn btn-primary" type="submit">Cambiar</button>
                    </div>
                </form>
            </div>

        </div>
      <!-- End Card -->

    
      
    </div>
  </div>
  <!-- End Content -->
{% endblock content %}