{% extends 'layout.html' %}
{% load static %}

{% block content %}
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main">
    <div class="position-fixed top-0 end-0 start-0 bg-img-start" style="height: 32rem; background-image: url(./assets/svg/components/card-6.svg);">
      <!-- Shape -->
      <div class="shape shape-bottom zi-1">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 " />
        </svg>
      </div>
      <!-- End Shape -->
    </div>

    <!-- Content -->
    <div class="container py-5 py-sm-7">

      <div class="mx-auto" style="max-width: 30rem;">
        <!-- Card -->
        <div class="card card-lg mb-5">
          <div class="card-body">
            <!-- Form -->
            <form class="js-validate needs-validation" novalidate>
              <div class="text-center">
                <div class="mb-5">
                  <h1 class="display-5">¿Olvidaste tu contraseña?</h1>
                  <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>
                </div>
              </div>

              <!-- Form -->
              <div class="mb-4">

                <form method="post" novalidate>

                  {% csrf_token %}

                  <div class="mb-4">
                    <label class="form-label" for="resetPasswordSrEmail" tabindex="0">Tu correo</label>
                    {{ form.email }}
                  </div>
                                   
                  <div class="d-grid gap-2">
                    <input type="Submit" name="Send email" value="Cambiar" class="btn btn-primary btn-lg">
                    <div class="text-center">
                      <a class="btn btn-link" href="./authentication-login-basic.html">
                        <i class="bi-chevron-left"></i> Back to Sign in
                      </a>
                    </div>
                  </div>
                </form>

                

                <label class="form-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>
                
                <input type="email" class="form-control form-control-lg" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>
              <!-- End Form -->

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                <div class="text-center">
                  <a class="btn btn-link" href="./authentication-login-basic.html">
                    <i class="bi-chevron-left"></i> Back to Sign in
                  </a>
                </div>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  {% endblock %}